<h1><%= tr 'title.book.edit' %></h1>

<div class="crud-form">
  <%= render 'form', book: @book %>

  <%= link_to fa_icon("undo", text: tr(:back,'actions')), books_path, class: "link-form btn btn-light" %>
  <%= link_to fa_icon("eye", text: tr(:show,'actions')), @book, class: "link-form btn btn-light" %>

</div>
