<h1><%= tr 'title.book.new' %></h1>

<div class="crud-form">
  <%= render 'form', room: @book %>
  <%= link_to fa_icon("undo", text: tr(:back,'actions')), books_path, class: 'btn btn-light' %>
</div>
