@import "bootstrap";
@import "font-awesome";
@import "fullcalendar";

.table-action {
  text-align: right;
  width: 25px;
  & > a {
    & > i {
      font-size: 120%;
    }
    &:first-child {
      i {
        padding-right: 10px;
      }
    }
    &:last-child {
      i {
        padding-left: 10px;
      }
    }
  }
}

.crud-form {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: 1px;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  position: relative;
  margin: 1rem -.75rem 0;
  border: solid #dee2e6;
}

.actions, .form-actions {
  padding-top: 20px;
  text-align: right;
}

a.link-form {
  margin-right: 20px;
}

.alert-notice {
  @extend .alert-primary;
}

.navbar {
  margin-bottom: 10px;
}

.auth.form-inputs {
  & > div, & > fieldset {
    margin-bottom: 15px;
  }
}

.auth.form-actions {
  & > input {
    margin-bottom: 15px;
  }
}